a { color: black; 
	text-decoration: none;
}
h1 { font-family: verdana;
	 font-size: 15;
}
h2 { font-family: Calibri ;
     font-size: 15; 
     width: 950px;
     height:20px;
     border:solid 2px;
     padding-right: 10px;
}
div#dados { font-size: 14;
     width: 800px;
     height:250px;
     border:solid 3px;
     padding-left: : 20px;
     margin-left: 40px;

}   

h4 { font-size: 14;
     width: 600px;
     height:20px;
     padding-left: : 10px;
     margin-left: 40px;
     position:absolute;
     top:160;
     left:40;

}
h3 { background: white;
    border-color: white;
    position: absolute;
    top:110;
    left:50;
    margin-left: 5px;
    padding: 5px;

}

a#btnCancelar{ border:solid 2px;
    border-color: black;
    font-family: comic sans ms;
    font-size: 12;
    box-shadow: #000 2px 2px 1px;
    background-color: red;
    padding: 5px;
    position:absolute;
    top: 270;
    left:90;
    color: white;
    
}

input#btnSalvar{ border:solid 2px;
    border-color: black;
    font-family: comic sans ms;
    font-size: 12;
    box-shadow: #000 2px 2px 1px;
    background-color: green;
    padding: 5px;
    position:absolute;
    top:270;
    left:200;
    color: white;
}
input#txtnome{border: solid 2px;
    position:absolute;
    top:210;
    left:80;
    width: 500;
}



p {position:absolute;
    top:222;
    left:160;
    font-family: comic sans ms;
    font-size: 12;

}